{{define "text"}}{{if .Element.Raw}}<p>{{.Element.Raw}}</p>{{end}}{{end}}

{{define "link"}}<a href="{{.Element.Target}}">{{.Element.Label}}</a>{{end}}

{{define "heading"}}{{index .Hx 0}}>{{.Text}}{{index .Hx 1}}{{end}}

{{define "quote"}}<blockquote>{{.Element.Text}}</blockquote>{{end}}

{{define "listitem"}}<li>{{.Element.Text}}</li>{{end}}

{{define "preformatted"}}<pre alt="{{.Element.Alt}}">{{.Element.Body}}</pre>{{end}}

{{define "root"}}
<body>
{{- range .Children}}
    {{.Generate}}
{{- end}}
</body>
{{end}}

{{define "ul"}}
<ul>
{{- range .Children}}
    {{.Generate}}
{{- end}}
</ul>{{end}}

{{define "div"}}
{{template "heading" .Element}}
<div>
{{- range .Children}}
    {{.Generate}}
{{- end}}
</div>{{end}}